.video-container { 
position:relative;
padding-bottom:56.25%;
height:0;
overflow:hidden;
margin-bottom:15px;
border-radius:5px;
border:1px solid #D6D6D6;
}
.video-container iframe { position:absolute;
top:0;
left:0;
width:100%;
height:100%;
border:0; 
}
